
{% load i18n %}
{% load account socialaccount %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<div class="container">
    <div class="row">
      <a href="http://localhost:8000" class="in"><h1 id="head" >Code<img id="imag" class="img-fluid" src="{% static 'image/sword.png' %}" alt="">Wars</h1></a>

        <div class="col-md-6">

            <div class="card">
                <form class="box" method="POST" action="{% url 'account_logout' %}">
                    <h1>Logout</h1>
                    <p class="text-muted"> Are you sure you want to sign out?</p>

                    {% csrf_token %}

                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="primaryAction btn" type="submit">{% trans 'Sign Out' %}</button><br>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
